# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#!pip install gmaps
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file = 'output_data/cities_CJM.csv'
vacation_df = pd.read_csv(file)
vacation_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind,Country,Date
0,port alfred,-33.59,26.89,59.00,83,0,1.99,ZA,1590275891
1,bethel,41.37,-73.41,57.00,82,90,9.17,US,1590275480
2,mahebourg,-20.41,57.70,68.00,88,20,2.24,MU,1590275891
3,bathsheba,13.22,-59.52,82.40,69,20,14.99,BB,1590275891
4,kapaa,22.08,-159.32,81.00,78,40,10.29,US,1590275891
...,...,...,...,...,...,...,...,...,...
547,wicklow,53.00,-6.42,53.01,93,75,19.46,IE,1590275923
548,ouesso,1.61,16.05,72.03,96,4,1.43,CG,1590275923
549,polunochnoye,60.87,60.42,40.86,95,0,1.21,RU,1590275923
550,sindal,57.47,10.20,51.01,85,63,4.00,DK,1590275923
551,guazapa,13.88,-89.17,82.40,74,40,13.87,SV,1590275923

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
import gmaps.datasets
gmaps.configure(g_key)

In [4]:
location_data = []
humidity_data = []

for i, row in vacation_df.iterrows():
    location_data.append((row['Lat'], row['Lng']))
    humidity_data.append(row['Humidity'])
h_map = gmaps.Map()
h_map_layer = gmaps.heatmap_layer(location_data, weights = humidity_data)
h_map.add_layer(h_map_layer)
h_map_layer.max_intensity = vacation_df['Humidity'].max()
h_map_layer.point_radius = 5
h_map

Map(configuration={'api_key': 'AIzaSyD3HSuZPQIx6QwpXXJdZpBlad9A8VnXB-E'}, data_bounds=[(-45.5551284038545, -17…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
clean_df = vacation_df.dropna().loc[vacation_df['Max Temp'] >= 70, :].loc[vacation_df['Max Temp'] <= 80, :].loc[vacation_df['Wind'] < 10, :].loc[vacation_df['Cloudiness'] == 0, :]
clean_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind,Country,Date
45,albany,42.60,-73.97,75.99,27,0,1.01,US,1590275812
209,morondava,-20.28,44.28,70.30,71,0,8.52,MG,1590275902
210,komsomolskiy,40.43,71.72,73.24,32,0,1.81,UZ,1590275902
343,sanming,26.25,117.62,73.29,83,0,0.54,CN,1590275910
350,ambilobe,-13.20,49.05,71.64,84,0,4.38,MG,1590275910
351,antsohihy,-14.88,47.99,74.62,68,0,8.95,MG,1590275910
433,boyolangu,-8.12,111.89,75.79,83,0,0.67,ID,1590275915
448,zhanakorgan,43.91,67.25,74.21,29,0,1.72,KZ,1590275916
467,sao filipe,14.90,-24.50,75.81,68,0,6.31,CV,1590275917
488,turbat,26.00,63.04,78.31,83,0,3.83,PK,1590275918
536,purwodadi,-7.09,110.92,74.50,87,0,2.84,ID,1590275922

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = clean_df

In [7]:
target_search = 'hotel'
target_radius = 5000
hotel_names = []

for i, row in clean_df.iterrows():
    target_coordinates = str(row['Lat']) +', ' + str(row['Lng'])
    
    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "key": g_key
    }

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params=params)
    response.url

    places_data = response.json()
    try:
        hotel_names.append(places_data["results"][1]["name"])
    except IndexError:
        hotel_names.append('No Hotel in Range')
    #print(json.dumps(places_data, indent=4, sort_keys=True))
    #print(places_data["results"][1]["vicinity"])
hotel_df['Hotel Name'] = hotel_names

In [8]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind,Country,Date,Hotel Name
45,albany,42.60,-73.97,75.99,27,0,1.01,US,1590275812,No Hotel in Range
209,morondava,-20.28,44.28,70.30,71,0,8.52,MG,1590275902,Kimony Resort Hotel
210,komsomolskiy,40.43,71.72,73.24,32,0,1.81,UZ,1590275902,Hotel adras
343,sanming,26.25,117.62,73.29,83,0,0.54,CN,1590275910,Kejia Hotel
350,ambilobe,-13.20,49.05,71.64,84,0,4.38,MG,1590275910,No Hotel in Range
351,antsohihy,-14.88,47.99,74.62,68,0,8.95,MG,1590275910,Hotel Diego
433,boyolangu,-8.12,111.89,75.79,83,0,0.67,ID,1590275915,No Hotel in Range
448,zhanakorgan,43.91,67.25,74.21,29,0,1.72,KZ,1590275916,Sanatoriy Toktamys
467,sao filipe,14.90,-24.50,75.81,68,0,6.31,CV,1590275917,Hotel Miramar Fogo Brava
488,turbat,26.00,63.04,78.31,83,0,3.83,PK,1590275918,Gul Rang Hotel
536,purwodadi,-7.09,110.92,74.50,87,0,2.84,ID,1590275922,OYO 1620 Sion Family Residence

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
h_map.add_layer(hotel_layer)

# Display figure
h_map

Map(configuration={'api_key': 'AIzaSyD3HSuZPQIx6QwpXXJdZpBlad9A8VnXB-E'}, data_bounds=[(-45.5551284038545, -17…